html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansbold';
  src: url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: #f1f1f1;
  width: 100%;
}

header .header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header .header-wrapper .logo {
  display: inline-block;
  padding: 17px 0 7px;
}

header .header-wrapper nav {
  display: inline-block;
  vertical-align: top;
  padding: 38px 0 5px 75px;
  text-transform: uppercase;
}

header .header-wrapper nav ul li {
  display: inline-block;
  font-family: montserratbold, sans-serif;
  font-size: 16px;
  margin-right: 41px;
}

header .header-wrapper nav ul li a {
  text-decoration: none;
  color: #777777;
  padding-bottom: 30px;
}

header .header-wrapper nav ul li a:hover {
  border-bottom: 5px solid #fa0e54;
}

header .header-wrapper nav ul .active a {
  color: #000;
  border-bottom: 5px solid #fa0e54;
}

header .header-wrapper .sign-in {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0 20px 80px;
}

header .header-wrapper .sign-in .styled-select {
  width: 260px;
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
  font-family: noto_sansregular, sans-serif;
  background: #fafafa url("../img/header/email-.png") no-repeat 240px 24px;
  display: inline-block;
  position: relative;
}

header .header-wrapper .sign-in .styled-select select {
  background: transparent;
  -webkit-appearance: none;
  width: 260px;
  height: 50px;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

header .header-wrapper .sign-in button {
  display: inline-block;
  vertical-align: top;
  background-color: #e4e4e4;
  border-radius: 10px;
  margin-left: 16px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

header .header-wrapper .sign-in span {
  display: none;
  font-family: montserratbold, sans-serif;
  font-size: 16px;
  color: #a6a6a6;
  text-transform: uppercase;
}

main {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}

main .main-wrapper {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 800px;
  margin: 0 auto;
}

main .main-wrapper #accordion {
  background-color: #fff;
  color: #444;
  padding: 50px 20px 0 8px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border: none;
  transition: 0.4s;
}

main .main-wrapper #accordion h2 {
  color: #999999;
  background-color: #fff;
  padding: 22px 50px;
  font-family: noto_sansregular, sans-serif;
  font-size: 24px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
  position: relative;
}

main .main-wrapper #accordion h2 img {
  position: absolute;
  top: 32px;
  left: 25px;
}

main .main-wrapper .panel {
  padding: 0 25px;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  outline: none;
}

main .main-wrapper .panel > div {
  border-bottom: 1px solid #f2f2f2;
}

main .main-wrapper .panel .display {
  border: none;
}

main .main-wrapper .panel .theme, main .main-wrapper .panel .display-bar, main .main-wrapper .panel .branding, main .main-wrapper .panel .display {
  position: relative;
}

main .main-wrapper .panel .theme > h3, main .main-wrapper .panel .theme label, main .main-wrapper .panel .display-bar > h3, main .main-wrapper .panel .display-bar label, main .main-wrapper .panel .branding > h3, main .main-wrapper .panel .branding label, main .main-wrapper .panel .display > h3, main .main-wrapper .panel .display label {
  display: inline-block;
  padding: 33px 7px;
}

main .main-wrapper .panel .theme h3, main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .branding h3, main .main-wrapper .panel .display h3 {
  font-family: montserratregular, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #666666;
}

main .main-wrapper .panel .theme label, main .main-wrapper .panel .display-bar label, main .main-wrapper .panel .branding label, main .main-wrapper .panel .display label {
  color: #b2b2b2;
  cursor: pointer;
  font-family: noto_sansregular, sans-serif;
  font-size: 14px;
  position: relative;
  margin-right: 35px;
}

main .main-wrapper .panel .theme label:last-of-type, main .main-wrapper .panel .display-bar label:last-of-type, main .main-wrapper .panel .branding label:last-of-type, main .main-wrapper .panel .display label:last-of-type {
  margin-right: 0;
}

main .main-wrapper .panel .theme input[type="radio"]:checked + label, main .main-wrapper .panel .display-bar input[type="radio"]:checked + label, main .main-wrapper .panel .branding input[type="radio"]:checked + label, main .main-wrapper .panel .display input[type="radio"]:checked + label {
  color: #333333;
}

main .main-wrapper .panel .theme input[type="checkbox"]:checked + label, main .main-wrapper .panel .display-bar input[type="checkbox"]:checked + label, main .main-wrapper .panel .branding input[type="checkbox"]:checked + label, main .main-wrapper .panel .display input[type="checkbox"]:checked + label {
  color: #333333;
}

main .main-wrapper .panel .theme h3, main .main-wrapper .panel .theme .right, main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar .right {
  display: inline-block;
}

main .main-wrapper .panel .theme .right, main .main-wrapper .panel .display-bar .right {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
}

main .main-wrapper .panel .theme input[type=radio] {
  display: none;
}

main .main-wrapper .panel .theme label {
  background-color: #f2f2f2;
  padding: 20px 30px 20px 50px;
  margin: 15px 10px;
  border-radius: 5px;
}

main .main-wrapper .panel .theme label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

main .main-wrapper .panel .theme input[type="radio"]:checked + label {
  background-color: #333333;
  color: #ffffff;
}

main .main-wrapper .panel .theme input[type=radio]:checked + label:before {
  content: "";
  font-size: 44px;
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
  border: 8px solid #fa0e54;
}

main .main-wrapper .panel .display-bar input[type=radio] {
  display: none;
}

main .main-wrapper .panel .display-bar label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: absolute;
  left: -27px;
  bottom: 27px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

main .main-wrapper .panel .display-bar input[type=radio]:checked + label:before {
  content: "";
  font-size: 44px;
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
  border: 8px solid #fa0e54;
}

main .main-wrapper .panel .display h3 {
  padding: 20px 7px;
}

main .main-wrapper .panel .display .checkboxes {
  padding: 0 5px;
  position: relative;
}

main .main-wrapper .panel .display .checkboxes h4 {
  font-family: noto_sansbold, sans-serif;
  font-size: 15px;
  color: #999999;
  display: inline-block;
  padding: 0 5px 50px;
}

main .main-wrapper .panel .display .checkboxes .right {
  font-family: noto_sansregular, sans-serif;
  font-size: 15px;
  color: #b2b2b2;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
}

main .main-wrapper .panel .order {
  border-radius: 10px;
  padding: 30px 25px;
  margin: 30px auto;
  border-bottom: none;
  background: url("../img/content/order-bg.png") no-repeat;
}

main .main-wrapper .panel .order span {
  display: block;
  line-height: 1.1;
  font-family: noto_sansregular, sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
}

main .main-wrapper .panel .order .question {
  font-family: noto_sansregular, sans-serif;
  font-weight: 600;
  color: #fa0e54;
}

main .main-wrapper .panel .order button {
  display: block;
  background-color: #fa0e54;
  text-transform: uppercase;
  font-family: noto_sansbold, sans-serif;
  font-size: 14px;
  padding: 15px 40px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
}

main .main-wrapper .panel .order button:hover {
  background-image: linear-gradient(10deg, #fa0e54, #fdb700);
  background-image: -webkit-linear-gradient(10deg, #fa0e54, #fdb700);
  background-image: -o-linear-gradient(10deg, #fa0e54, #fdb700);
}

.aside-wrapper {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 390px;
  box-sizing: border-box;
  margin: 0 auto;
}

.aside-wrapper .aside {
  padding: 55px 0 0;
  width: 100%;
}

.aside-wrapper .aside h2 {
  color: #999999;
  background-color: #fff;
  padding: 20px 0;
  font-family: noto_sansregular, sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #f2f2f2;
}

.aside-wrapper .aside .preview .tab {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.aside-wrapper .aside .preview .tab button {
  font-family: montserratregular, sans-serif;
  font-size: 14px;
  color: #7f7f7f;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 45px 31px 0;
}

.aside-wrapper .aside .preview .tab button:hover, .aside-wrapper .aside .preview .tab button.active {
  color: #fb3e76;
  outline: none;
}

.aside-wrapper .aside .preview .tab .mobile {
  background: url("../img/sidebar/mobile.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .mobile:hover, .aside-wrapper .aside .preview .tab .mobile.active {
  background: url("../img/sidebar/mobile-hover.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .tablet {
  background: url("../img/sidebar/tablet.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .tablet:hover, .aside-wrapper .aside .preview .tab .tablet.active {
  background: url("../img/sidebar/tablet-hover.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .desktop {
  background: url("../img/sidebar/desktop.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .desktop:hover, .aside-wrapper .aside .preview .tab .desktop.active {
  background: url("../img/sidebar/desktop-hover.png") no-repeat center;
}

.aside-wrapper .aside .preview .tab .tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aside-wrapper .aside .preview .tab .tabcontent .your-design {
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 15px 0;
}

.aside-wrapper .aside .preview .tab .tabcontent .your-design img {
  width: 100%;
}

.aside-wrapper .aside .embed-code p {
  font-family: noto_sansregular, sans-serif;
  font-size: 13px;
  color: #b3b3b3;
  padding: 10px 15px 0 0;
  line-height: 1.4;
}

.aside-wrapper .aside .embed-code p .coloured {
  color: #fb3e76;
}

.aside-wrapper .aside .embed-code pre {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  box-sizing: border-box;
  font-size: 12px;
  color: #b3b3b3;
  overflow: hidden;
}

.aside-wrapper .aside .embed-code code {
  max-width: 100%;
  white-space: normal;
  display: inline-block;
  line-height: 1.5;
}

.aside-wrapper .aside .embed-code span {
  color: #333333;
  font-family: noto_sansbold, sans-serif;
}

.aside-wrapper .aside .embed-code button {
  width: 100%;
  padding: 20px 40px;
  margin: 20px auto;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: montserratregular, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-image: linear-gradient(10deg, #fa0e54, #fdb700);
  background-image: -webkit-linear-gradient(10deg, #fa0e54, #fdb700);
  background-image: -o-linear-gradient(10deg, #fa0e54, #fdb700);
  transition: 250ms ease;
}

.aside-wrapper .aside .embed-code button:hover {
  background-image: linear-gradient(10deg, #fdb700, #fa0e54);
}

.aside-wrapper .aside .embed-code button:active {
  background-image: linear-gradient(10deg, #fa0e54, #fdb700);
}

@media (min-width: 1100px) and (max-width: 1240px) {
  header .header-wrapper .logo {
    padding-left: 25px;
  }
  header .header-wrapper nav {
    padding-left: 45px;
  }
  header .header-wrapper nav ul li {
    font-size: 14px;
    margin-right: 35px;
  }
  header .header-wrapper .sign-in {
    padding-left: 30px;
  }
  main {
    width: 100%;
    margin: 0 auto;
  }
  main .main-wrapper {
    width: 60%;
    margin-left: 20px;
  }
  main .main-wrapper .panel .display-bar {
    padding: 7px;
  }
  main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display-bar .right {
    display: block;
    position: relative;
  }
  main .main-wrapper .panel .display-bar .right label {
    margin: 5px 10px 15px 40px;
  }
  main .main-wrapper .panel .display-bar .right label:before {
    left: -35px;
    bottom: 5px;
  }
  main .main-wrapper .panel span {
    padding-bottom: 20px;
  }
  .aside-wrapper {
    width: 35%;
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  header .header-wrapper .logo {
    padding-left: 20px;
  }
  header .header-wrapper .logo img {
    width: 150px;
  }
  header .header-wrapper nav {
    padding: 33px 0 5px 30px;
  }
  header .header-wrapper nav ul li {
    font-size: 12px;
    margin-right: 20px;
  }
  header .header-wrapper nav ul li a {
    padding-bottom: 20px;
  }
  header .header-wrapper .sign-in {
    padding: 15px 0 20px 5px;
  }
  header .header-wrapper .sign-in .styled-select {
    width: 240px;
  }
  header .header-wrapper .sign-in .styled-select select {
    width: 220px;
    font-size: 13px;
    padding: 10px;
  }
  main {
    width: 100%;
    margin: 0 auto;
  }
  main .main-wrapper {
    width: 60%;
    margin-left: 20px;
  }
  main .main-wrapper .panel .display-bar {
    padding: 7px;
  }
  main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display-bar .right {
    display: block;
    position: relative;
  }
  main .main-wrapper .panel .display-bar .right label {
    margin: 5px 10px 15px 40px;
  }
  main .main-wrapper .panel .display-bar .right label:before {
    left: -35px;
    bottom: 5px;
  }
  main .main-wrapper .panel .order span {
    padding-bottom: 15px;
  }
  main .aside-wrapper {
    width: 35%;
  }
  main .aside-wrapper .aside .preview .tab button {
    padding: 45px 20px 0;
  }
  main .aside-wrapper .aside .preview .tabcontent .your-design img {
    width: 330px;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  header .header-wrapper .logo, header .header-wrapper nav, header .header-wrapper .sign-in {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  header .header-wrapper nav {
    padding-top: 10px;
  }
  header .header-wrapper nav ul li a {
    padding-bottom: 15px;
  }
  header .header-wrapper .sign-in {
    width: 400px;
    margin: 20px auto;
    padding: 20px 0;
  }
  main {
    width: 100%;
  }
  main .main-wrapper {
    display: block;
    width: 650px;
    margin: 0 auto;
  }
  main .main-wrapper .panel .display-bar {
    padding: 7px;
  }
  main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display-bar .right {
    display: block;
    position: relative;
  }
  main .main-wrapper .panel .display-bar .right label {
    margin: 5px 10px 15px 40px;
  }
  main .main-wrapper .panel .display-bar .right label:before {
    left: -35px;
    bottom: 5px;
  }
  main .main-wrapper .panel .display div h4 {
    padding-bottom: 25px;
  }
  main .main-wrapper .panel .display label {
    padding: 15px 10px;
  }
  main .main-wrapper .panel .order span {
    padding-bottom: 15px;
    font-size: 14px;
  }
  main .aside-wrapper {
    display: block;
    width: 550px;
    margin: 0 auto;
  }
  main .aside-wrapper .aside .preview .tab button {
    padding: 50px 60px 10px;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  header .header-wrapper .logo, header .header-wrapper nav, header .header-wrapper .sign-in {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  header .header-wrapper nav {
    padding: 10px 0 0;
    margin: 0 auto;
  }
  header .header-wrapper nav ul li {
    margin-right: 25px;
  }
  header .header-wrapper nav ul li a {
    padding-bottom: 15px;
    font-size: 14px;
  }
  header .header-wrapper nav li:last-of-type {
    margin-right: 0;
  }
  header .header-wrapper .sign-in {
    width: 400px;
    margin: 20px auto 0;
    padding: 15px 0;
  }
  main {
    width: 100%;
  }
  main .main-wrapper {
    display: block;
    width: 450px;
    margin: 0 auto;
  }
  main .main-wrapper .panel .display-bar {
    padding: 7px;
  }
  main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display-bar .right {
    display: block;
    position: relative;
  }
  main .main-wrapper .panel .display-bar .right label {
    margin: 5px 10px 15px 40px;
  }
  main .main-wrapper .panel .display-bar .right label:before {
    left: -35px;
    bottom: 5px;
  }
  main .main-wrapper .panel .display div h4 {
    padding-bottom: 25px;
  }
  main .main-wrapper .panel .display label {
    padding: 15px 10px;
  }
  main .main-wrapper .panel .order span {
    padding-bottom: 15px;
    font-size: 14px;
  }
  main .aside-wrapper {
    display: block;
    width: 450px;
    margin: 0 auto;
  }
  main .aside-wrapper .aside .preview .tab button {
    padding: 55px 43px 10px;
  }
}

@media (min-width: 320px) and (max-width: 499px) {
  header .header-wrapper .logo, header .header-wrapper nav, header .header-wrapper .sign-in {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  header .header-wrapper nav {
    padding: 10px 0 0;
    margin: 0 auto;
  }
  header .header-wrapper nav ul li {
    margin-right: 15px;
  }
  header .header-wrapper nav ul li a {
    padding-bottom: 10px;
    font-size: 11px;
  }
  header .header-wrapper nav ul li a:hover {
    border-bottom: 2px solid #fa0e54;
  }
  header .header-wrapper nav ul .active a {
    border-bottom: 2px solid #fa0e54;
  }
  header .header-wrapper nav li:last-of-type {
    margin-right: 0;
  }
  header .header-wrapper .sign-in {
    width: 300px;
    margin: 20px auto 0;
    padding: 15px 0;
  }
  header .header-wrapper .sign-in .styled-select {
    width: 200px;
    background: #fafafa url(../img/header/email-.png) no-repeat 180px 24px;
  }
  header .header-wrapper .sign-in .styled-select select {
    width: 180px;
    font-size: 11px;
  }
  main {
    width: 100%;
  }
  main .main-wrapper {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  main .main-wrapper .panel .theme {
    padding: 7px;
  }
  main .main-wrapper .panel .theme h3, main .main-wrapper .panel .theme label {
    display: block;
  }
  main .main-wrapper .panel .theme .right {
    display: block;
    position: relative;
    width: 120px;
    box-sizing: border-box;
  }
  main .main-wrapper .panel .theme .right label {
    margin: 5px 10px 15px;
  }
  main .main-wrapper .panel .display-bar {
    padding: 7px;
  }
  main .main-wrapper .panel .display-bar h3, main .main-wrapper .panel .display-bar label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display-bar .right {
    display: block;
    position: relative;
  }
  main .main-wrapper .panel .display-bar .right label {
    margin: 5px 10px 15px 40px;
  }
  main .main-wrapper .panel .display-bar .right label:before {
    left: -35px;
    bottom: 5px;
  }
  main .main-wrapper .panel .branding {
    padding: 7px;
  }
  main .main-wrapper .panel .branding h3, main .main-wrapper .panel .branding label {
    display: block;
    padding: 10px 0;
  }
  main .main-wrapper .panel .display div h4 {
    padding: 10px 0;
  }
  main .main-wrapper .panel .display label {
    padding: 10px 0;
    font-size: 14px;
  }
  main .main-wrapper .panel .display .checkboxes {
    padding: 0;
  }
  main .main-wrapper .panel .order {
    padding: 20px 15px;
  }
  main .main-wrapper .panel .order span {
    font-size: 13px;
    padding-bottom: 15px;
  }
  main .aside-wrapper {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  main .aside-wrapper .aside {
    padding: 50px 10px 0;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
  }
  main .aside-wrapper .aside .preview .tab button {
    padding: 55px 16px 10px;
  }
  main .aside-wrapper .aside .preview .tab .tabcontent .your-design {
    width: 280px;
  }
  main .aside-wrapper .aside .preview .tab .tabcontent .your-design img {
    width: 280px;
  }
}
