html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'noto_sansbold';
  src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
  url('../fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

header {
  background-color: #f1f1f1;
  width: 100%;
  .header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      display: inline-block;
      padding: 17px 0 7px;
    }
    nav {
      display: inline-block;
      vertical-align: top;
      padding: 38px 0 5px 75px;
      text-transform: uppercase;
      ul {
        li {
          display: inline-block;
          font-family: montserratbold, sans-serif;
          font-size: 16px;
          margin-right: 41px;
          a {
            text-decoration: none;
            color: #777777;
            padding-bottom: 30px;
          }
          a:hover {
            border-bottom: 5px solid #fa0e54;
          }
        }
        .active {
          a {
            color: #000;
            border-bottom: 5px solid #fa0e54;
          }
        }
      }
    }
    .sign-in {
      display: inline-block;
      vertical-align: top;
      padding: 20px 0 20px 80px;
      .styled-select {
        width: 260px;
        height: 50px;
        overflow: hidden;
        border-radius: 10px;
        font-family: noto_sansregular, sans-serif;
        background: #fafafa url("../img/header/email-.png") no-repeat 240px 24px;
        display: inline-block;
        position: relative;
      }
      .styled-select select {
        background: transparent;
        -webkit-appearance: none;
        width: 260px;
        height: 50px;
        padding: 10px 10px 10px 20px;
        font-size: 14px;
        border: none;
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
      }
      button {
        display: inline-block;
        vertical-align: top;
        background-color: #e4e4e4;
        border-radius: 10px;
        margin-left: 16px;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        cursor: pointer;
      }
      span {
        display: none;
        font-family: montserratbold, sans-serif;
        font-size: 16px;
        color: #a6a6a6;
        text-transform: uppercase;
      }
    }
  }
}

main {
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  .main-wrapper {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 800px;
    margin: 0 auto;
    #accordion {
      background-color: #fff;
      color: #444;
      padding: 50px 20px 0 8px;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
      border: none;
      transition: 0.4s;
      h2 {
        color: #999999;
        background-color: #fff;
        padding: 22px 50px;
        font-family: noto_sansregular, sans-serif;
        font-size: 24px;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: 1px solid #f2f2f2;
        outline: none;
        position: relative;
        img {
          position: absolute;
          top: 32px;
          left: 25px;
        }
      }
    }
    .panel {
      padding: 0 25px;
      background-color: white;
      border: 1px solid #f2f2f2;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top: none;
      outline: none;
      > div {
        border-bottom: 1px solid #f2f2f2;
      }
      .display {
        border: none;
      }
      .theme, .display-bar, .branding, .display {
        position: relative;
        > h3, label {
          display: inline-block;
          padding: 33px 7px;
        }
        h3 {
          font-family: montserratregular, sans-serif;
          font-weight: 600;
          font-size: 20px;
          color: #666666;
        }
        label {
          color: #b2b2b2;
          cursor: pointer;
          font-family: noto_sansregular, sans-serif;
          font-size: 14px;
          position: relative;
          margin-right: 35px;
        }
        label:last-of-type {
          margin-right: 0;
        }
        input[type="radio"]:checked + label {
          color: #333333;
        }
        input[type="checkbox"]:checked + label {
          color: #333333;
        }
      }
      .theme, .display-bar {
        h3, .right {
          display: inline-block;
        }
        .right {
          position: absolute;
          top: 0;
          right: 0;
          max-width: 500px;
        }
      }
      .theme {
        input[type=radio] {
          display: none;
        }
        label {
          background-color: #f2f2f2;
          padding: 20px 30px 20px 50px;
          margin: 15px 10px;
          border-radius: 5px;
        }
        label:before {
          content: "";
          display: inline-block;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          position: absolute;
          left: 15px;
          bottom: 15px;
          background-color: #f2f2f2;
          border-radius: 15px;
          border: 2px solid #cccccc;
          box-sizing: border-box;
        }
        input[type="radio"]:checked + label {
          background-color: #333333;
          color: #ffffff;
        }
        input[type=radio]:checked + label:before {
          content: "";
          font-size: 44px;
          text-align: center;
          line-height: 26px;
          background-color: #ffffff;
          border: 8px solid #fa0e54;
        }

      }
      .display-bar {
        input[type=radio] {
          display: none;
        }
        label:before {
          content: "";
          display: inline-block;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          position: absolute;
          left: -27px;
          bottom: 27px;
          background-color: #ffffff;
          border-radius: 15px;
          border: 2px solid #cccccc;
          box-sizing: border-box;
        }
        input[type=radio]:checked + label:before {
          content: "";
          font-size: 44px;
          text-align: center;
          line-height: 26px;
          background-color: #ffffff;
          border: 8px solid #fa0e54;

        }
      }
      .display {

        h3 {
          padding: 20px 7px;
        }
        .checkboxes {
          padding: 0 5px;
          position: relative;
          h4 {
            font-family: noto_sansbold, sans-serif;
            font-size: 15px;
            color: #999999;
            display: inline-block;
            padding: 0 5px 50px;
          }
          .right {
            font-family: noto_sansregular, sans-serif;
            font-size: 15px;
            color: #b2b2b2;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            max-width: 500px;
          }
        }
      }
      .order {
        border-radius: 10px;
        padding: 30px 25px;
        margin: 30px auto;
        border-bottom: none;
        background: url("../img/content/order-bg.png") no-repeat;
        span {
          display: block;
          line-height: 1.1;
          font-family: noto_sansregular, sans-serif;
          font-size: 17px;
          padding-bottom: 30px;
        }
        .question {
          font-family: noto_sansregular, sans-serif;
          font-weight: 600;
          color: #fa0e54;
        }
        button {
          display: block;
          background-color: #fa0e54;
          text-transform: uppercase;
          font-family: noto_sansbold, sans-serif;
          font-size: 14px;
          padding: 15px 40px;
          color: #ffffff;
          border-radius: 10px;
          border: none;
          outline: none;
        }
        button:hover {
          background-image: linear-gradient(10deg, #fa0e54, #fdb700);
          background-image: -webkit-linear-gradient(10deg, #fa0e54, #fdb700);
          background-image: -o-linear-gradient(10deg, #fa0e54, #fdb700);
        }
      }
    }
  }
}

.aside-wrapper {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 390px;
  box-sizing: border-box;
  margin: 0 auto;
  .aside {
    padding: 55px 0 0;
    width: 100%;
    h2 {
      color: #999999;
      background-color: #fff;
      padding: 20px 0;
      font-family: noto_sansregular, sans-serif;
      font-size: 24px;
      border-bottom: 1px solid #f2f2f2;
    }
    .preview {
      .tab {
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        button {
          font-family: montserratregular, sans-serif;
          font-size: 14px;
          color: #7f7f7f;
          text-decoration: none;
          text-transform: uppercase;
          border: none;
          background-color: #fff;
          display: inline-block;
          box-sizing: border-box;
          position: relative;
          padding: 45px 31px 0;
        }
        button:hover, button.active {
          color: #fb3e76;
          outline: none;
        }
        .mobile {
          background: url("../img/sidebar/mobile.png") no-repeat center;
        }
        .mobile:hover, .mobile.active {
          background: url("../img/sidebar/mobile-hover.png") no-repeat center;
        }
        .tablet {
          background: url("../img/sidebar/tablet.png") no-repeat center;
        }
        .tablet:hover, .tablet.active {
          background: url("../img/sidebar/tablet-hover.png") no-repeat center;
        }
        .desktop {
          background: url("../img/sidebar/desktop.png") no-repeat center;
        }
        .desktop:hover, .desktop.active {
          background: url("../img/sidebar/desktop-hover.png") no-repeat center;
        }

        .tabcontent {
          display: none;
          -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
          @-webkit-keyframes fadeEffect {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          @keyframes fadeEffect {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          .your-design {
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            margin: 15px 0;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .embed-code {
      p {
        font-family: noto_sansregular, sans-serif;
        font-size: 13px;
        color: #b3b3b3;
        padding: 10px 15px 0 0;
        line-height: 1.4;
        .coloured {
          color: #fb3e76;
        }
      }
      pre {
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        margin: 20px 0;
        box-sizing: border-box;
        font-size: 12px;
        color: #b3b3b3;
        overflow: hidden;
      }
      code {
        max-width: 100%;
        white-space: normal;
        display: inline-block;
        line-height: 1.5;
      }
      span {
        color: #333333;
        font-family: noto_sansbold, sans-serif;

      }
      button {
        width: 100%;
        padding: 20px 40px;
        margin: 20px auto;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-family: montserratregular, sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-image: linear-gradient(10deg, #fa0e54, #fdb700);
        background-image: -webkit-linear-gradient(10deg, #fa0e54, #fdb700);
        background-image: -o-linear-gradient(10deg, #fa0e54, #fdb700);
        transition: 250ms ease;
      }
      button:hover {
        background-image: linear-gradient(10deg, #fdb700, #fa0e54);
      }
      button:active {
        background-image: linear-gradient(10deg, #fa0e54, #fdb700);
      }
    }
  }
}

@media (min-width: 1100px) and (max-width: 1240px) {
  header .header-wrapper {
    .logo {
      padding-left: 25px;
    }
    nav {
      padding-left: 45px;
    }
    nav ul li {
      font-size: 14px;
      margin-right: 35px;
    }
    .sign-in {
      padding-left: 30px;
    }
  }
  main {
    width: 100%;
    margin: 0 auto;
    .main-wrapper {
      width: 60%;
      margin-left: 20px;
      .panel {
        .display-bar {
          padding: 7px;
          h3, label {
            display: block;
            padding: 10px 0;
          }
          .right {
            display: block;
            position: relative;

            label {
              margin: 5px 10px 15px 40px;
            }
            label:before {
              left: -35px;
              bottom: 5px;
            }
          }
        }
        .order {
        }
        span {
          padding-bottom: 20px;
        }
      }
    }
  }
    .aside-wrapper {
      width: 35%;
    }
  }


@media (min-width: 900px) and (max-width: 1099px) {
  header .header-wrapper {
    .logo {
      padding-left: 20px;
      img {
        width: 150px;
      }
    }
    nav {
      padding: 33px 0 5px 30px;
    }
    nav ul li {
      font-size: 12px;
      margin-right: 20px;
      a {
        padding-bottom: 20px;
      }
    }
    .sign-in {
      padding: 15px 0 20px 5px;
      .styled-select {
        width: 240px;
        select {
          width: 220px;
          font-size: 13px;
          padding: 10px;
        }
      }
    }
  }
  main {
    width: 100%;
    margin: 0 auto;
    .main-wrapper {
      width: 60%;
      margin-left: 20px;
      .panel{
        .display-bar {
          padding: 7px;
          h3, label {
            display: block;
            padding: 10px 0;
          }
          .right {
            display: block;
            position: relative;

            label {
              margin: 5px 10px 15px 40px;
            }
            label:before {
              left: -35px;
              bottom: 5px;
            }
          }
        }
        .order span {
          padding-bottom: 15px;
        }
      }
    }
    .aside-wrapper {
      width: 35%;
      .aside {
        .preview {
          .tab {
            button {
              padding: 45px 20px 0;
            }
          }
          .tabcontent {
            .your-design {
              img {
                width: 330px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  header {
    .header-wrapper {
      .logo, nav, .sign-in {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
      }
      nav {
        padding-top: 10px;
        ul li a {
          padding-bottom: 15px;
        }
      }
      .sign-in {
        width: 400px;
        margin: 20px auto;
        padding: 20px 0;
      }
    }
  }
  main {
    width: 100%;
    .main-wrapper {
      display: block;
      width: 650px;
      margin: 0 auto;
      .panel {
        .display-bar {
          padding: 7px;
          h3, label {
            display: block;
            padding: 10px 0;
          }
          .right {
            display: block;
            position: relative;

            label {
              margin: 5px 10px 15px 40px;
            }
            label:before {
              left: -35px;
              bottom: 5px;
            }
          }
        }
        .display {
          div h4 {
            padding-bottom: 25px;
          }
          label {
            padding: 15px 10px;
          }
        }
        .order {
          span {
            padding-bottom: 15px;
            font-size: 14px;
          }
        }
      }
    }
    .aside-wrapper {
      display: block;
      width: 550px;
      margin: 0 auto;
      .aside {
        .preview .tab button {
          padding: 50px 60px 10px;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  header {
    .header-wrapper {
      .logo, nav, .sign-in {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
      }
      nav {
        padding: 10px 0 0;
        margin: 0 auto;
        ul li {
          margin-right: 25px;
          a {
            padding-bottom: 15px;
            font-size: 14px;
          }
        }
        li:last-of-type {
          margin-right: 0;
        }
      }
      .sign-in {
        width: 400px;
        margin: 20px auto 0;
        padding: 15px 0;
      }
    }
  }
  main {
    width: 100%;
    .main-wrapper {
      display: block;
      width: 450px;
      margin: 0 auto;
      .panel {
          .display-bar {
            padding: 7px;
            h3, label {
              display: block;
              padding: 10px 0;
            }
            .right {
              display: block;
              position: relative;

              label {
                margin: 5px 10px 15px 40px;
              }
              label:before {
                left: -35px;
                bottom: 5px;
              }
            }
          }
        .display {
          div h4 {
            padding-bottom: 25px;
          }
          label {
            padding: 15px 10px;
          }
        }
        .order {
          span {
            padding-bottom: 15px;
            font-size: 14px;
          }
        }
      }
    }
    .aside-wrapper {
      display: block;
      width: 450px;
      margin: 0 auto;
      .aside {
        .preview .tab button {
          padding: 55px 43px 10px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 499px) {
  header {
    .header-wrapper {
      .logo, nav, .sign-in {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
      }
      nav {
        padding: 10px 0 0;
        margin: 0 auto;
        ul {
          li {
            margin-right: 15px;
            a {
              padding-bottom: 10px;
              font-size: 11px;
            }
            a:hover {
              border-bottom: 2px solid #fa0e54;
            }
          }
          .active a {
            border-bottom: 2px solid #fa0e54;
          }
        }
        li:last-of-type {
          margin-right: 0;
        }
      }
      .sign-in {
        width: 300px;
        margin: 20px auto 0;
        padding: 15px 0;
        .styled-select {
          width: 200px;
          background: #fafafa url(../img/header/email-.png) no-repeat 180px 24px;
          select {
            width: 180px;
            font-size: 11px;
          }
        }
      }
    }
  }
  main {
    width: 100%;
    .main-wrapper {
      display: block;
      width: 300px;
      margin: 0 auto;
      .panel {
        .theme {
          padding: 7px;
          h3, label {
            display: block;
          }
          .right {
            display: block;
            position: relative;
            width: 120px;
            box-sizing: border-box;
            label {
              margin: 5px 10px 15px;
            }
          }
        }
        .display-bar {
          padding: 7px;
          h3, label {
            display: block;
            padding: 10px 0;
          }
          .right {
            display: block;
            position: relative;

            label {
              margin: 5px 10px 15px 40px;
            }
            label:before {
               left: -35px;
               bottom: 5px;
             }
          }
        }
        .branding {
          padding: 7px;
          h3, label {
            display: block;
            padding: 10px 0;
          }
        }
        .display {
          div h4 {
            padding: 10px 0;
          }
          label {
            padding: 10px 0;
            font-size: 14px;
          }
          .checkboxes {
            padding: 0;
          }
        }
        .order {
          padding: 20px 15px;
          span {
            font-size: 13px;
            padding-bottom: 15px;
          }
        }
      }
    }
    .aside-wrapper {
      display: block;
      width: 300px;
      margin: 0 auto;
      .aside {
        padding: 50px 10px 0;
        width: 300px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        .preview .tab {
          button {
            padding: 55px 16px 10px
          }
          .tabcontent {
            .your-design {
              width: 280px;
              img {
                width: 280px;
              }
            }
          }
        }
      }
    }
  }
}